flask
flask-cors
flask-jwt-extended
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
transformers
opencv-python-headless
numpy
pillow
librosa
static-ffmpeg
fpdf
pymongo
dnspython
bcrypt
gunicorn
python-dotenv
requests
